.wrapper {
    padding: 0 120px;
    background-color: #efefef;
    .wrapper__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }
}
.product {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
}
.production {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding: 40px;
}
.view-more {
    border: 1px solid #006eff;
    color: #006eff;
    text-transform: uppercase;
    &:hover {
        background-color: #006eff;
        color: white !important;
    }
    &:active {
        background-color: rgba(48, 147, 255, 0.11);
        color: #006eff !important;
    }
}
